<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title @ViewBag.Collection - Resin Extensible Search Engine</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div>
        <h2 class="logo"><a href="/">Common Crawl Crawl Crawler</a></h2>
        @RenderBody()
</div>
    <footer>
        <div>
            <p>Non-tracking search (powered by <a href="https://github.com/kreeben/resin" title="Resin Extensible Search Engine">Resin Extensible Search Engine</a>).</p>
        </div>
    </footer>
</body>
</html>