<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        textarea {
            float: left;
        }
        a {
            text-decoration: none;
            color: orangered;
        }
        a.result-link{
            color: mediumblue;
        }
        a.result-link:visited {
            color: purple;
        }
        input[type=text]{
            width: 260px;
        }
        hr{
            width: 300px;
        }
    </style>
    <a href="/"><h1>Did you go go?</h1></a>
    <div>
        @RenderBody()
    </div>
    <footer>
        <hr align="left" size="1" noshade/>
        <p>A no cookies, no javascript, no tracking kind of web search.</p>
        <p>Built on open source <a href="https://github.com/kreeben/resin">hosted on GitHub</a></p>
    </footer>
</body>
</html>