<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        textarea {
            float: left;
        }
    </style>
    <h1>Did you go go?</h1>
    @using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
    {
    <div>
        <textarea rows="1" cols="30" id="q" name="q" placeholder="Ask anything."></textarea>
        <input type="submit" value="Go" />
    </div>
    }
    <div>
        @RenderBody()
    </div>

</body>
</html>