<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        textarea {
            float: left;
        }
    </style>
    @using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
    {
    <div>
        <textarea rows="1" cols="30" id="q" name="q" placeholder="Ask anything."></textarea>
        <input type="submit" value="Go" id="btn0" name="btn0" alt="Ask away!" />
        <input type="button" value="Go" id="btn1" name="btn1" disabled alt="A yes/no answer will be provided if your search phrase is a (binary) question." />
    </div>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>