@{
    var submittedCollections = new HashSet<string>(Context.Request.Query["collection"]
        .ToArray()
        .SelectMany(s => s.Split(',', StringSplitOptions.RemoveEmptyEntries))
        .ToArray());

    var collections = new HashSet<string>(submittedCollections.Concat((IEnumerable<string>)ViewBag.DefaultCollection));
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <meta http-equiv="refresh" content="1">
</head>
<body>
    <div class="outer-container">
        <div class="logo2"><a href="/?collection=@string.Join(",", collections)">CrawlCrawler</a></div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-nav">
            <p><a href="/instructions">Instructions</a> | <a href="https://github.com/kreeben/resin/discussions">Discuss</a> | <a href="https://github.com/kreeben/resin/issues">Report issue</a> | <a href="https://github.com/kreeben/resin/blob/master/LICENSE">Terms</a></p>
        </div>
    </footer>
</body>
</html>