<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div class="outer-container">
        <div class="logo1">
            <a href="/search?queryId=@Context.Request.Query["queryId"]&field=title&field=text"><img src="apple-touch-icon.png" title="CrawlCrawler" alt="CrawlCrawler" /></a>
        </div>
        <div id="topnav">
            <a href="/settings" title="Settings">&#10033;</a>
        </div>
        <br style="clear:both;" />
        @RenderBody()
    </div>
    <footer>
        <div class="footer-nav">
            <p><a href="/">Create index</a> | <a href="/about">About</a> | <a href="/terms">Terms</a> | <a href="/contact">Support</a> | <a href="/buymecoffee">Buy me a coffee</a></p>
        </div>
    </footer>
</body>
</html>