@{
    var progress = (double)ViewBag.DocumentCount / ((long)56000 * 44000) * 100;
    var millionDocs = (double)ViewBag.DocumentCount/1000000;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div class="outer-container">
        <div class="logo2"><a href="/?collection=cc_wat">Crawl Crawler <sup>BETA</sup></a></div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <p>
                Free, open, non-tracking search powered by Common Crawl data, WWW and <a href="https://github.com/kreeben/resin" title="OSS">OSS.</a>
            </p>
            <p>
                Coverage: @progress.ToString("0.##")% (@millionDocs.ToString("0.##")M documents).
            </p>
        </div>
        <div class="footer-nav">
            <p><a href="/about">About</a> | <a href="/faq">FAQ</a> | <a href="/toc">Terms</a> | <a href="/contact">Contact</a> | <a href="/donate">Donate</a></p>
        </div>
    </footer>
</body>
</html>