<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div class="outer-container">
        <div class="logo1">
            @if (!string.IsNullOrWhiteSpace(Context.Request.Query["queryId"]))
            {
                <a href="/search?queryId=@Context.Request.Query["queryId"]"><img src="/apple-touch-icon.png" title="CrawlCrawler" alt="CrawlCrawler" /></a>
            }
            else
            {
                <a href="/"><img src="/apple-touch-icon.png" title="CrawlCrawler" alt="CrawlCrawler" /></a>
            }
        </div>
        <div id="topnav">
            @if (!string.IsNullOrWhiteSpace(Context.Request.Query["queryId"]))
            {
                <a href="/options?queryId=@Context.Request.Query["queryId"]" title="Options">&#9776;</a>
            }
        </div>
        <br style="clear:both;" />
        @RenderBody()
    </div>
    <footer>
        <div class="footer-nav">
            <a href="/">New index</a> | <a href="/about?queryId=@Context.Request.Query["queryId"]">About</a> | <a href="/terms?queryId=@Context.Request.Query["queryId"]">Terms</a> | <a href="/contact?queryId=@Context.Request.Query["queryId"]">Support</a> | <a href="/buymecoffee?queryId=@Context.Request.Query["queryId"]">Buy me a coffee</a>
        </div>
    </footer>
</body>
</html>