@{
    var submittedCollections = new HashSet<string>(Context.Request.Query["collection"]
        .ToArray()
        .SelectMany(s => s.Split(',', StringSplitOptions.RemoveEmptyEntries))
        .ToArray());

    var collections = new HashSet<string>(submittedCollections.Concat((IEnumerable<string>)ViewBag.DefaultCollection));
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="outer-container">
        <div class="logo2"><a href="/?collection=@string.Join(",", collections)">Resin <sup>Extensible Search Engine</sup></a></div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-nav">
            <p><a href="/instructions">Instructions</a> &bull; <a href="https://github.com/kreeben/resin/blob/master/LICENSE">Terms</a> &bull; <a href="/contact">Contact</a> &bull; <a href="https://github.com/kreeben/resin/issues">Report issue</a></p>
        </div>
    </footer>
</body>
</html>