<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <meta http-equiv="refresh" content="1">
</head>
<body>
    <div class="outer-container">
        <div class="logo1">
            <a href="/"><img src="apple-touch-icon.png" title="CrawlCrawler" alt="CrawlCrawler" /></a>
        </div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-nav">
            <p><a href="/">Create index</a> | <a href="/terms">Terms</a> | <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="#">Buy me a coffee</a></p>
        </div>
    </footer>
</body>
</html>