@{
    var progress = (double)ViewBag.DocumentCount / ((long)56000 * 44000) * 100;
    var millionDocs = (double)ViewBag.DocumentCount/1000000;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div class="outer-container">
        <div class="logo2"><a href="/?collection=cc_wat,cc_wet">Crawl Crawler <sup>BETA</sup></a></div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <p>
                Crawl Crawlers are fans of non-tracking web search powered by open source <a href="https://github.com/didyougogo/commoncrawlcrawler/">software</a> 
                and common <a href="https://commoncrawl.org/the-data/get-started/">data</a>.
            </p>
            <p>
                Coverage (WAT): @progress.ToString("0.##")% (@millionDocs.ToString("0.##")M documents). <a href="/donate">Donate</a> to increase coverage.
            </p>
        </div>
        <div class="footer-nav">
            <p><a href="/about">About</a> | <a href="/faq">FAQ</a> | <a href="/toc">Terms</a> | <a href="/contact">Contact</a></p>
        </div>
    </footer>
</body>
</html>