<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <nav>
        <div class="nav-nav">
            <span style="color:gray;margin:0px 0px 0px 0px;">New index</span> <span>|</span> <a href="/about">About</a> <span>|</span> <a href="/terms">Terms</a> <span>|</span> <a href="/contact">Support</a> <span>|</span> <a href="/buymecoffee">Buy me a coffee</a>
        </div>
    </nav>
    <div class="outer-container">
        <div class="logo1">
            <a href="/"><img src="/apple-touch-icon.png" title="CrawlCrawler" alt="CrawlCrawler" /></a>
        </div>
        <br style="clear:both;" />
        @RenderBody()
    </div>
</body>
</html>