<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title @ViewBag.Collection - Common Crawl Crawl Crawler</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div class="outer-container">
        <div class="logo1"><a href="/?collection=cc_wat">Common Crawl </a></div><div class="logo2"><a href="/?collection=cc_wat">Crawl Crawler</a></div>
        @RenderBody()
</div>
    <footer>
        <div>
            <p><a href="/about">About</a> | <a href="/faq">FAQ</a> | <a href="/toc">Terms</a> | <a href="/contact">Contact</a> | <a href="/donate">Donate</a></p>
        </div>
        <div>
            <span>Non-tracking search powered by <br /><a href="https://github.com/kreeben/resin" title="Resin Extensible Search Engine">Resin Extensible Search Engine</a></span>
        </div>
        <div>
            <p>WAT index coverage 0.004%. WET coverage 0.002%.</p>
        </div>
        <div>
            <p>All services free during BETA testing.</p>
        </div>
    </footer>
</body>
</html>