<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        a {
            text-decoration: none;
            color: orangered;
        }
        a.result-link {
            color: mediumblue;
        }
        a.result-link:visited {
            color: purple;
        }
        input[type=text] {
            width: 300px;
        }
        textarea {
            width: 300px;
            height: 150px;
        }
        footer {
            /*margin-top: 20px;*/
            /*padding-top: 10px;*/
            /*border-top: 1px solid black;*/
        }

        footer span{
            padding-top: 10px;
        }
        footer a {
            text-decoration: none;
            color: black;
        }
    </style>
    <a href="/"><h1>Did you go go?</h1></a>
    <p>No cookies. No javascript. No tracking. Just web search.</p>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div><p><a href="https://github.com/kreeben/resin">Source code is here</a>.</p></div>
    </footer>
</body>
</html>