@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>About</h2>
            <p>At Crawl Crawler we specialize in search.</p>
            <p>We crawl and index web pages, <a href="https://commoncrawl.org/the-data/get-started/#WAT-Format">WAT</a> and <a href="https://commoncrawl.org/the-data/get-started/#WET-Format">WET</a> files, 
            and, from time to time, take on custom search solution projects.</p>
            <h3>At crawlcrawler.com we crawl what's already been crawled.</h3>
            <p>We provide a search index (<a href="/?collection=cc_wat">cc_wat</a>) over the meta data from <a href="https://commoncrawl.org/">Common Crawl's</a> data set  
            that you may use to find and extract web page data from Common Crawl's wide web crawl sessions. 
            We're doing our best to try to automate that whole process, for your convenience.</p>
            <p>We also provide a partial search index (<a href="/?collection=cc_wet">cc_wet</a>) over the textual content from web pages in the Common Crawl data set.</p>
            <p>By the way, you can search both indices in one query, like <a href="/?collection=cc_wat,cc_wet">this</a>.</p>
            <p>On request we'll crawl WWW.</p>
            <h3>We provide a public API</h3>
            <p>We provide a API for humans/browsers as well as a restful HTTP API that you may use to access our indices or create your own. We encourage you to create indices by HTTP POST-ing your data to our write endpoint.</p>
            <h3>Technology stack</h3>
            <p>We build <a href="https://github.com/kreeben/resin">Resin</a>, an open-source and extensible search engine, on which we base most of our solutions.</p>
        </div>
    </form>