@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
<h1>About</h1>
<h2>Crawlcrawler is pay-as-you-go</h2>
<p>
    CrawlCrawler is a pay-as-you-go search service that
    hosts search indices and keeps them updated on a regular basis.
    CrawlCrawler provides a HTTP query API and GUI for users to use when they interact with their indices.
</p>
<p>
    Users create search indices here.
    Users decide what content to include in their indices.
    Users use this service to query their indices.
</p>
<h2>Crawlcrawler is private</h2>
<p>Crawlcrawler does not track you or store any personally identifyable information on you or use client side javascript or store any cookies on any of your devices. Read more <a href="/terms">here</a>.</p>
<h2>Crawlcrawler runs on F/OSS</h2>
<p>
    CrawlCrawler.com and its backend, <a href="https:/github.com/kreeben/resin">Resin.Search</a> is maintained by Marcus Lager from Helsingborg, Sweden.
</p>