@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "About Crawl Crawler";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>About</h2>
            <p>
                <a href="/?collection=cc_wat">crawlcrawler.com</a> is a free, open, non-tracking search service created by search consultant marcuslager (at gailm'n'such).
                It is a crawl crawler but functions very much like a web search engine only with a few more manual steps involved.
                Allow me to explain.
            </p>
            <h3>Three collections</h3>
            <p>
                There are three collections that you can query.
            </p>
            <h4>First collection</h4>
            <p>
                The first collection is called "cc_wat" because it's created and refreshed when 
                <strong>this service</strong> analyzes Common Crawl's 
                <a href="https://commoncrawl.org/the-data/get-started/#WAT-Format">WAT meta data repository</a>.
            </p>
            <p>
                Documents in this collection contain the queryable fields meta "title", meta "description",
                the "url" field of a document as well as these URL segment fields:
                "scheme", "host", "path" and "query".
            </p>
            <h4>Second collection</h4>
            <p>
                The second collection is called "cc_wet" and it's created and refreshed when <strong>you</strong> 
                use your favorite browser to click on <strong>"Enrich"</strong> from a search result page.
            </p>
            <p>
                Your choice to enrich will be between having this service fetch the complete text extraction
                of all pages in your search result, optionally considering the "skip" and "take" query string parameters,
                from (1) Common Crawl's <a href="https://commoncrawl.org/the-data/get-started/#WET-Format">WET textual data repository</a>,
                or from (2) the WWW, then analyze that text and append it to the secondary index.
            </p>
            <p>
                <i>
                    This enrichment process will create a better search experience for the next person who uses
                    crawlcrawler.com to search the web using a query similar to yours.
                </i>
            </p>
            <p>
                Documents in the cc_wet collection contain the queryable fields "title" and "description".
            </p>
            <h4>Your collection</h4>
            <p>
                The third collection (type) are the collections <strong>you</strong> create when you click
                "Save as" from a search result page. You may save your search result as a new collection that we will host.
                If you remember the name of your collection you may also append to it.
                In fact, anyone who knows that name can both query and append to it.
            </p>
            <h3>Enrichment</h3>
            <p>
                The actual text content of the documents in your search result,
                that lives inside of a HTML document's body tag, will not always have been
                indexed by this search engine at the time of your query.
                We might only have had time to index the meta data fields "title" and "description".
                When that's the case you'll see an "Enrich" link on the search result page.
                Click "Enrich" then choose if you want us to fetch the textual content for those documents,
                for all of the pages in your result, from Common Crawl or from WWW. 
                We'll add that textual data to our search engine, improving the search experience for everyone.
            </p>
            <h3>Querying</h3>
            <p>
                Use the "collection" query string parameter to direct your queries towards one or more collections.
            </p>
            <p>
                Use the "field" query string parameter to direct your queries towards one or more fields.
            </p>
            <p>
                Replace "OR=OR" query string entry with "AND=AND" for stricter interpretation of your query.
            </p>
            <p>
                Page by using "skip" and "take".
            </p>
            <h4>HTTP GET Accept:text/html</h4>
            <h5>HTTPS GET /search/?field=title&field=description&q=embellished+sheath+indianapolis&OR=OR&skip=0&take=100&collection=cc_wat</h5>
            <p>
                Here's an example of a query that targets <a href="/Search?field=title&field=description&q=embellished+sheath+indianapolis&OR=OR&skip=0&take=100&collection=cc_wat&collection=yourcollection">cc_wat+cc_wet+your collection</a>.<br />
                This query targets <a href="/Search?field=title&field=description&q=embellished+sheath+indianapolis&OR=OR&skip=0&take=100&collection=cc_wat&collection=cc_wet">cc_wat+cc_wet</a>.<br />
                Here is a query that targets the <a href="/Search?field=title&field=description&q=embellished+sheath+indianapolis&OR=OR&skip=0&take=100&collection=cc_wat">cc_wat</a> collection.
            </p>
            <h4>HTTP GET Accept:application/json</h4>
            <h5>HTTPS GET /query/?field=title&field=description&q=embellished+sheath+indianapolis&OR=OR&skip=0&take=100&collection=cc_wat</h5>
            <h4>HTTP POST Accept:application/json</h4>
            <p>HTTPS POST /query/?skip=0&take=100</p>
            <pre>
    {
        "and":{
            "collection":"cc_wat",
            "host":"myfashion.com"
        },
        "and":{
            "collection":"cc_wet",
            "title":"prom dress wedding",
            "description":"prom dress wedding"
        },
        "not":{
            "collection":"cc_wat",
            "path":"kids teens"
        },
    }
            </pre>
            <h3>Insert, append, update</h3>
            <p>
                You may create new collections that you can append and make updates to. 
                In fact, you can append and make updates to any collection that you know by name.
            </p>
            <h4>HTTP POST Content-Type:application/json</h4>
            <p>
                The insert, append and update APIs are unstable at this time. 
                As soon as they are reliable they will be documented here.
            </p>
            <h3>Technology</h3>
            <p>
                We build <a href="https://github.com/kreeben/resin">Resin <sup>BETA</sup></a>, 
                an open-source and extensible search engine.
            </p>
        </div>
    </form>