@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
<form action="/crawl/@Context.Request.QueryString" method="post">
    <div id="create-collection-form">
        <h1>About</h1>
        <p>
            CrawlCrawler is a pay-as-you-go search service that gives you the power to decide which web sites to include in your search.
        </p>
    </div>

</form>