@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>About</h2>
            <p>Crawl Crawler is a search company that specializes in crawling and indexing web pages, WAT and WARC files.</p>
            <h3>We crawl what's already been crawled.</h3>
            <p>We provide a search index (<a href="/?collection=cc_wat">cc_wat</a>) over the meta data from <a href="https://commoncrawl.org/">Common Crawl's</a> data set  
            that you may use to find and extract web page data from Common Crawl's wide web crawl sessions. 
            We'll also help you with all that.</p>
            <p>We also provide a search index (<a href="/?collection=cc_warc">cc_warc</a>) over the web page data (server responses) from said organization.</p>
            <p>On request we'll also crawl WWW.</p>
            <p>We provide a API for humans/browsers as well as a restful HTTP API that you may use to access our indices or create your own. We encourage you to create indices by HTTP POST-ing your data to our write endpoint.</p>
            <p>Finally, we build <a href="https://github.com/kreeben/resin">Resin</a>, an open-source and extensible search engine.</p>
        </div>
    </form>