@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Contact Crawl Crawler";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Contact</h2>
            <p>
                Please direct any privacy, search or data related questions to our contact person
                and GDPR officer, <a href="mailto:chief@crawlcrawler.com">this person</a>.
            </p>
            <p>Hope to hear from you soon.</p>
            <p>Crawl Crawler</p>
        </div>
    </form>