@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Contact</h2>
            <p>Direct any search-related questions to Marcus Lager, founder and Chief Crawl Crawler, at that email provider, y'know, the big one. The biggest!</p>
            <p>Concatenate first and last name. There's your handle.</p>
            <p>Hope to hear from you soon.</p>
            <p>Yours,<br />Marcus Lager<br />Chief Crawl Crawler</p>
        </div>
    </form>