@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Contact Crawl Crawler";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Contact</h2>
            <p>
                Please direct any privacy, search, data and business related questions that you may have, to our primary contact,
                our GDPR officer, this MF right <a href="mailto:chief@crawlcrawler.com">here</a>.
            </p>
        </div>
    </form>