@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Contact</h2>
            <p>
                Please, feel free to direct any apologies, search or data related questions to your contact person, 
                <a href="mailto:chief@crawlcrawler.com">Chief Crawl Crawler</a>.
            </p>
            <p>Hope to hear from you soon.</p>
            <p>Yours,<br />Marcus Lager<br />Chief Crawl Crawler</p>
        </div>
    </form>