@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Can you spare a dime?</h2>
            <p>If you have money to spare, may I ask if you'd consider keeping this crawl crawler common?</p>
            <p>You see, if you're like me and would like for everyone to have a common Common Crawl crawl crawler, then please consider helping us with our server costs by <a href="https://www.paypal.me/marcuslager">donating</a> any sum.</p>
            <p>Thank you! :)</p>
            <p>Your truly,<br />Marcus Lager<br />Chief Crawl Crawler</p>
        </div>
    </form>