@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Donate to Crawl Crawler";

}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Donate to Crawl Crawler</h2>
            <p>
                Donating here helps keep this service up and running.
            </p>
            <p>
                Please consider helping with server costs by <a href="https://www.paypal.me/marcuslager">donating</a> 
                any old sum.
            </p>
            <p>Thank you! :)</p>
            <p>Yours truly,<br />Marcus Lager</p>
        </div>
    </form>