@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>FAQ</h2>
            <p><strong>What kind of a crawler is this?</strong></p>
            <p>It's a crawl crawler.</p>
            <p><strong>What kind of a crawl crawler is this?</strong></p>
            <p>It's a <a href="https://commoncrawl.org/">Common Crawl</a> crawl crawler.</p>
            <p><strong>What can you do with a Common Crawl crawl crawler?</strong></p>
            <p>
                <ul>
                    <li>Search meta-data from most of WWW.</li>
                    <li>Locate, download and index actual web page content.</li>
                    <li>Search that content.</li>
                    <li>Refresh that content by performing a web crawl.</li>
                    <li>Upload public content</li>
                    <li>Download any public content</li>
                </ul>
            </p>
            <p><strong>How can I crawl the web using crawlcrawler.com?</strong></p>
            <p>
                <strong>Easy step one:</strong> search the public "cc_wat" Crawl Crawler index.
                <br /><r></r><strong>Very easy step two:</strong> from the search result, click "crawl", then let crawlcrawler fetch a snapshot
                of the web content by making HTTP requests on your behalf, to the original resources references in your
                search result. Now you have a searchable web index of your favorite content.
            </p>
            <p><strong>Why does it cost money to crawl WWW?</strong></p>
            <p>
                We offer to web crawl, for money, because we needz it, for our servers'n'stuff.
            </p>
            <p><strong>For how long will crawlcrawler.com store IP addresses and their correponding time stamps, extracted from each request being made into your servers?</strong></p>
            <p>
                We will store them in working memory for the duration of the request but use them mostly in the beginning of said request, to determine
                if you belong on our servers, after which we will discard them, unless you're doing something wrong, in which case we will store them for as long as we se fit.
            </p>
            <p><strong>I've been making bad requests into crawlcrawler.com's server, but now I regret it. Can I regain access to your service, if so, how?</strong></p>
            <p>Of course! Simply apologize and we're square. You may screw up, then apologize, three times. After that we won't trust you anymore.</p>
            <p><strong>I've screwed up four times. Now what?</strong></p>
            <p>You're totally screwed, man, for life! You're IP address is no good around here no more. Get outta here with your IP address!</p>
        </div>
    </form>