@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler FAQ";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>FAQ</h2>
            <p><strong>What kind of a crawler is this?</strong></p>
            <p>It's a crawl crawler.</p>
            <p><strong>What kind of a crawl crawler is this?</strong></p>
            <p>It's a <a href="https://commoncrawl.org/">Common Crawl</a> crawl crawler.</p>
            <p><strong>What can you do with a Common Crawl crawl crawler?</strong></p>
            <p>
                <ul>
                    <li>Search meta-data from most of WWW.</li>
                    <li>Locate, download and index actual web page content.</li>
                    <li>Search that content.</li>
                    <li>Refresh that content by performing a web crawl.</li>
                    <li>Upload public content</li>
                    <li>Download any public content</li>
                </ul>
            </p>
        </div>
    </form>