@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler FAQ";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>FAQ</h2>
            <p><strong>What kind of crawler is this?</strong></p>
            <p>It's a crawl crawler.</p>
            <p><strong>What's a crawl crawler?</strong></p>
            <p>
                A crawl crawler is a search engine that utilizes indices that may be enriched with more data, in this case,
                textual web content, by crawling already crawled data or by fetching it from WWW.
            </p>
            <p><strong>Can I do keyword based search here?</strong></p>
            <p>Yes.</p>
            <p><strong>Will you honor my robots.txt?</strong></p>
            <p>Yes, we will, to the best of our ability. Some of y'all don't know how to write a proper robots file, though.</p>
            <p><strong>Where can I read a god damn manual?</strong></p>
            <p>RTGDM <a href="/about">here</a>.</p>
        </div>
    </form>