@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler FAQ";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>FAQ</h2>
            <p><strong>Where can I read a god damn manual?</strong></p>
            <p>RTGDM <a href="/about">here</a>.</p>
            <p><strong>What kind of a crawler is this?</strong></p>
            <p>It's a crawl crawler.</p>
            <p><strong>What kind of a crawl crawler is this?</strong></p>
            <p>It's a <a href="https://commoncrawl.org/">Common Crawl</a> crawl crawler.</p>
            <p><strong>What can you do with a Common Crawl crawl crawler?</strong></p>
            <p>
                <ul>
                    <li>Search meta-data from most of WWW.</li>
                    <li>Locate, download and index actual web page content.</li>
                    <li>Search that content.</li>
                    <li>Refresh that content by performing a web crawl.</li>
                    <li>Upload public content</li>
                    <li>Download any public content</li>
                </ul>
            </p>
            <p><strong>Will you honor my robots.txt?</strong></p>
            <p>Yes, we will, to the best of our ability. Some of y'all don't know how to write a proper robots file, though.</p>
        </div>
    </form>