@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler FAQ";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>FAQ</h2>
            <p><strong>What kind of a crawler is this?</strong></p>
            <p>It's a crawl crawler.</p>
            <p><strong>What's a crawl crawler?</strong></p>
            <p>
                A crawl crawler is a search engine that utilizes indices that may be enriched with more data, in this case,
                textual web content, by crawling already crawled data or by fetching it from WWW.
            </p>
            <p><strong>Why is enrichment crowd-sourced?</strong></p>
            <p>
                Enrichment will create a better search experience when the next person visit
                Crawl Crawler to search the web using a query similar to yours.
                That's why it's such a great fit for crowd-sourcing.
            </p>
            <p><strong>What can you do with a crawl crawler?</strong></p>
            Mainly, search WAT meta-data enriched with textual data from Common Crawl's WET crawl and WWW.
            More precisely,
            <ul>
                <li>Search meta-data from most of WWW.</li>
                <li>Locate, download and index actual web page content.</li>
                <li>Search that content.</li>
                <li>Refresh that content by performing a web crawl.</li>
                <li>Upload public content</li>
                <li>Download any public content</li>
            </ul>
            <p><strong>Will you honor my robots.txt?</strong></p>
            <p>Yes, we will, to the best of our ability. Some of y'all don't know how to write a proper robots file, though.</p>
            <p><strong>What can't you do with Crawl Crawler data?</strong></p>
            <p>
                Crawl Crawler's indices are generated from analyzing common data.
                The courtesy of the people who make their data common, owners of the web sites from which
                the documents in Common Crawl's crawl repositories originate, as well as the courtesy
                of Common Crawl the organisation, is extended to Crawl Crawler's users without corruption.
                Use this data fairly and responsibly.
                Before contemplating publishing any of it remember, there are copyright laws to adhere to.
            </p>
            <p><strong>Where can I read a god damn manual?</strong></p>
            <p>RTGDM <a href="/about">here</a>.</p>
        </div>
    </form>