@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "Crawl Crawler";
}
@{
    var progress = ViewBag.DocumentCount == null ? 0 : (double)ViewBag.DocumentCount / ((long)56000 * 44000) * 100;
    var millionDocs = ViewBag.DocumentCount == null ? 0 : (double)ViewBag.DocumentCount / 1000000;
}
<p class="splash">
    Indices were built from analyzing ~@progress.ToString("0.##")% of Common Crawl's December 2019 crawl (~@millionDocs.ToString("0.##")M documents),
    here are some <a title="" href="./about">instructions</a> that you don't have to read,
    <a href="/contact">let us know</a> if anything breaks,
    and good luck!
</p>
@{await Html.RenderPartialAsync("SearchForm");}