@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler";
}

    <p class="splash">
        Hi beta tester,
        <i>Crawl crawling</i> is not hard.
        Read the <a title="" href="./about">instructions</a> or dive right in.
        Note, indices were built from analyzing ~1% of Common Crawl's December 2019 crawl and consist of ~26M documents.
    </p>
<p>

</p>
@{await Html.RenderPartialAsync("SearchForm");}