@{
    ViewData["Title"] = "Did you go go?";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <div>
        <input type="text" id="q" name="q" placeholder="Ask anything." />
        <input type="submit" value="Go" />
    </div>
}
    <div>
        <p>
            @*<a href="/add">Submit page</a> to the public "www" index.*@
        </p>
    </div>