@model Sir.HttpServer.Controllers.CreateModel
@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
@{
    var queryString = Context.Request.QueryString;
    var urlList = Context.Request.Query["urls"].ToList();

    if (urlList.Count == 0)
    {
        urlList.Add("https://en.wikipedia.org");
    }
}
<div id="create-collection-form">
    <form action="/addurl" method="get">

        <span class="intro">A pay-as-you-go search service from CrawlCrawler</span>
        <h1>Create your own personal web search engine</h1>
        <p>
            Add your favorite pages and sites to a search index that you command over.
            You can add more sites and pages later and removing pages that you are no longer interested in is easy.
        </p>
        <h2>Add sites</h2>
        <p>
            <label>
                <input type="radio" id="scope" name="scope" value="page" checked />
                Single page
            </label>
            <label>
                <input type="radio" id="scope" name="scope" value="directory" />
                Site or directory
            </label>
        </p>
        <div>
            @if (Model != null)
            {
                <span style="background-color:orangered;font-size:10pt;">@Model.ErrorMessage</span>
            }
            <label>
                <input type="text" placeholder="Enter URL here, e.g. https://mysite.com" id="siteurl" name="url" /><input type="submit" value="Add" name="add" id="add" />
            </label>
            <div id="sitelist">
                @foreach (var url in urlList)
                {
                <span>@url</span><br />
                }
            </div>
        </div>
        @foreach (var url in urlList)
        {
            <input type="hidden" name="urls" value="@url" />
        }
    </form>
    <p>
        <label>
            <input type="checkbox" name="agree" id="agree" value="yes" />
            I have read and agree to the <a href="/terms">terms of use</a>.
        </label>
    </p>
    <p>
        <input type="submit" id="create" name="create" value="Create search index" />
    </p>
</div>