@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler";
}

    <p class="splash">
        Hi beta tester, this is a showcase of the concept of <a title="Explore, enrich, refresh, slice" href="./about"><i>crawlcrawling</i></a>.
        The indices were built when analyzing Common Crawl's December 2019 crawl and has little over 1% coverage.
        Coincidentally, these times have aldready diverged greatly from those.
    </p>
<p>

</p>
@{await Html.RenderPartialAsync("SearchForm");}