@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler";
}

    <p class="splash">
        Hi beta tester, 
        these indices were built after analyzing Common Crawl's December 2019 crawl and has little over 1% coverage (~26M documents),  
        instead of regular web search here you <a title="Explore, enrich, refresh, slice" href="./about"><i>crawl crawl</i></a>. 
        That's all. Have fun!
    </p>
<p>

</p>
@{await Html.RenderPartialAsync("SearchForm");}