@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler";
}

    <p class="splash">
        Hi,
        dive right in or read the <a title="" href="./about">instructions</a>.
        Note, indices were built from analyzing ~1% of Common Crawl's December 2019 crawl (~26M documents).
    </p>
<p>

</p>
@{await Html.RenderPartialAsync("SearchForm");}