@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
<form action="/crawl/@Context.Request.QueryString" method="post">
    <div id="create-collection-form">
        <h3>Build your own web search</h3>
        <h5>What sites would you like to search?</h5>
        <p>
            Add just a couple of sites to start with. You can always add more later as well as remove those that you are no longer interested in.
        </p>
        <p>
            <label>
                <input type="radio" id="scope" name="scope" value="page" checked />
                Only this URL
            </label>
            <label>
                <input type="radio" id="scope" name="scope" value="directory" />
                This site or directory
            </label>
        </p>
        <p>
            <label>
                https:// <input type="text" placeholder="mysite.com" id="create-collection-form-url" name="url" /><input type="button" value="Add" />
            </label>
        </p>
        <p>
            <select multiple id="sitelist">
                <option>https://en.wikipedia.org</option>
            </select>
        </p>
        <p>
            <label>
                <input type="checkbox" name="agree" id="agree" value="yes" />
                I have read and agree to the <a href="#terms">terms</a>.
            </label>
            <input type="submit" value="Create search index" />
        </p>
        <a name="terms"></a><h5>Terms</h5>
        <p>
            You may create as many search indices here as you want to and it's free.
            Note, a search index can contain multiple sites, as many as you want.
        </p>
        <p>
            If you are still using your index 30 days after it was created, we will require upon you a small fee of <strong>$4.99 per month</strong>.
        </p>
        <p>
            You are anonymous until you decide to keep an index for more than 30 days,
            whereby we will need a valid email address from you,
            so that we can send you payment instructions.
        </p>
    </div>

</form>