@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler";
}

    <p class="splash">
        Hi beta tester, 
        indices were built from analyzing Common Crawl's December 2019 crawl and has ~1% coverage (~26M documents).   
        Instructions are <a title="Explore, enrich, refresh, slice" href="./about"><i>here</i></a>.
    </p>
<p>

</p>
@{await Html.RenderPartialAsync("SearchForm");}