@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler";
}

    <p class="splash">
        Hi beta tester,
        just in case, here are the <a title="" href="./about">instructions</a>.
        Indices were built from analyzing ~1% of Common Crawl's December 2019 crawl (~26M documents).
    </p>
<p>

</p>
@{await Html.RenderPartialAsync("SearchForm");}