@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
<form action="/crawl/@Context.Request.QueryString" method="post">
    <div id="create-collection-form">
        <h3>Build your own web search engine</h3>
        <h4>Add sites</h4>
        <p>
            Add just a couple of sites to start with. You can always add more later as well as remove those that you are no longer interested in.
        </p>
        <p>
            <label>
                <input type="radio" id="scope" name="scope" value="page" checked />
                Only this URL
            </label>
            <label>
                <input type="radio" id="scope" name="scope" value="directory" />
                This site or directory
            </label>
        </p>
        <p>
            <label>
                https:// <input type="text" placeholder="mysite.com" id="create-collection-form-url" name="url" /><input type="button" value="Add" />
            </label>
        </p>
        <p>
            <select multiple id="sitelist">
                <option>https://en.wikipedia.org</option>
            </select>
        </p>
        <p>
            <label>
                <input type="checkbox" name="agree" id="agree" value="yes" />
                I have read and agree to the <a href="/terms">terms</a>.
            </label>
            <input type="submit" value="Create search index" />
        </p>
    </div>

</form>