@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
<h1>Terms</h1>
<a name="dos"></a>
<h2>Description of service</h2>
<p>
    CrawlCrawler is a pay-as-you-go search service that
    hosts search indices and keeps them updated on a regular basis.
    CrawlCrawler provides a HTTP query API and GUI for users to use when they interact with their indices.
</p>
<h2>Payment</h2>
<p>
    At <i>crawlcrawler.com</i> users may create as many search indices as they want to, for free.
</p>
<p>
    Users that are still using their indices 30 days after they created them
    and want to continue doing so for another 30 days will be required to pay <strong>€4.99</strong> or else their index will expire.
</p>
<p>
    Expired indices may be used for 30 days before they are permanently removed from the Crawlcrawler systems.
</p>
<h2>Personally identifyable information</h2>
<p>
    Users are completely and 100% anonymous to CrawlCrawler.
    The only things CrawlCrawler can see in its logs are queries from unknown users.
</p>