@{
    Layout = "~/Views/_LayoutStart.cshtml";
    ViewBag.Title = "CrawlCrawler";
}
<form action="/crawl/@Context.Request.QueryString" method="post">
    <div id="create-collection-form">
        <h1>Terms</h1>
        <a name="dos"></a><h2>Description of service</h2>
        <p>
            <i>CrawlCrawler</i> is a pay-as-you-go search service that 
            hosts search indices and keeps them updated on a regular basis. 
            CrawlCrawler provides a HTTP query API and GUI for users to use when they interact with their indices.
        </p>
        <p>
            <i>Users</i> create search indices here.
            Users decide what content to include in their indices.
            Users use this service to query their indices.
        </p>
        <h2>Payment</h2>
        <p>
            At <i>crawlcrawler.com</i> users may create as many search indices as they want to, for free.
        </p>
        <p>
            If users are still using their index 30 days after they created it
            and want to continue doing so for another 30 days,
            CrawlCrawler will require upon them a small fee of <strong>$4.99</strong>. 

        </p>
        <h2>Personally identifyable information</h2>
        <p>
            Users are completely and 100% anonymous to CrawlCrawler.
            The only things CrawlCrawler can see in its logs are queries from unknown users.
        </p>
    </div>

</form>