@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms</h2>
            <p>These term regards to usage of the crawlcrawler.com service.</p>
            <p>Crawlcrawler.com servers will not ever place a cookie on your computer. If you've cookies on your drive, 
            rest assured they are not from us.</p>
            <p>Crawlcrawler.com servers will store IP addresses with timestamps from all users at all times and for as long as we need to, 
            for security and authorization purposes.</p>
            <p>By using the crawlcrawler.com service you give us permission to store your IP address together with a time stamp.</p>
        </div>
    </form>