@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler Terms";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms</h2>
            <i>In this document are the terms we need to agree upon before you use this, the crawlcrawler.com service.</i>
            <h3>§-1 Cookies</h3>
            <p>
                Crawlcrawler.com servers <strong>will not place a cookie</strong> on your computer, nor several. If you've cookies on your drive,
                rest assured they are not from us.
            </p>
            <h3>§0 Tracking</h3>
            <p>
                <strong>We will not track you</strong>. We don't use cookies. We don't even use javascript. Having aid that, we could still track you. But we never do.
            </p>
            <h3>§1 Logging</h3>
            <p>
                Crawlcrawler.com servers <strong>will store IP addresses</strong> with timestamps  and the URL for the 
                requested resource for all users for as long as 30 days, in order to ensure a secure service with high availability.
            </p>
            <p>We need to store IP addresses to be able to add IP addresses to our blacklist, if actors misuse this service.</p>
            <h3>§2 Data hosting</h3>
            <p>
                Apart from IP addresses <strong>we will store (host) indices of textual data</strong> that originates from Common Crawl 
                and the public WWW. When fetching data from WWW we do our very best to interpret and honor your robots.txt. 
            </p>
            <h3>§3 Data removal</h3>
            <p>Please go ahead and <a href="/contact">contact us</a> in matters of data removal.</p>
        </div>
    </form>