@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms</h2>
            <i>These terms regards to usage of the crawlcrawler.com service.</i>
            <p>Crawlcrawler.com servers <strong>will not place a cookie</strong> on your computer, nor several. If you've cookies on your drive, 
            rest assured they are not from us.</p>
            <p>Crawlcrawler.com servers <strong>will store IP addresses</strong> with timestamps from all users at all times and for as long as we need to, 
            for security and authorization purposes.</p>
            <p>By using the crawlcrawler.com service you give us permission to store your IP address together with a time stamp.</p>
            <h3>The take-away: no cookies, IP addresses; yes</h3>
            <p>We give you a cookie-free environment. You give us permission to store a record of your IP address.</p>
        </div>
    </form>