@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms</h2>
            <i>These terms regard to usage of the crawlcrawler.com service.</i>
            <h3>§1 Cookies</h3>
            <p>
                Crawlcrawler.com servers <strong>will not place a cookie</strong> on your computer, nor several. If you've cookies on your drive,
                rest assured they are not from us.
            </p>
            <h3>§2 Tracking</h3>
            <p>
                We track you not and affiliate with no one who will.
            </p>
            <h3>§3 Logging</h3>
            <p>
                Crawlcrawler.com servers <strong>will store IP addresses</strong> with timestamps from all users at all times and for as long as we need to,
                for security and authorization purposes.
            </p>
            <p>By using the crawlcrawler.com service you give us permission to store your IP address together with a time stamp.</p>
            <p>We give you a cookie-free environment. You give us permission to store a record of your IP address.</p>

            <h3>§4 Data hosting</h3>
            <p>
                Apart from IP addresses <strong>we will store (host) crawled data</strong> that originated from the public WWW.
                We consider WWW minus robots.txt to be public data.
                We do not claim ownership of the data we host as it originates either from a willing donor or publicist or
                from the Common Crawl organization's
                wide web crawls and so it is not our data to claim.
                And it is not your data, either.
                And so you shouldn't go around claiming it.
                So don't contact us regarding data removal unless it's really important to you.
            </p>
            <h3>§5 Data removal</h3>
            <p>If it's really important, please go ahead and <a href="/contact">contact us</a> in matters of data removal.</p>
        </div>
    </form>