@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms of use</h2>
            <p>CrawlCrawler.com servers will not place cookies on your computer. </p>
            <p>The CrawlCrawler.com servers will store IP addresses with timestamps from all users at all times, for security and authorization purposes.</p>
            <p>By using the CrawlCrawler.com service you give us permission to store your IP address together with a time stamp.</p>
        </div>
    </form>