@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler Terms";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms</h2>
            <i>In this document are the terms we need to agree upon before you use this, the crawlcrawler.com service.</i>
            <h3>§-1 Cookies</h3>
            <p>
                Crawlcrawler.com servers <strong>will not place a cookie</strong> on your computer, nor several. If you've cookies on your drive,
                rest assured they are not from us.
            </p>
            <h3>§0 Tracking</h3>
            <p>
                <strong>We will not track you</strong>. There are no ads here, we don't use cookies, we don't even use javascript.
                Having said that, we could still track you server-side. But we don't.
            </p>
            <h3>§1 Logging</h3>
            <p>
                Crawlcrawler.com servers <strong>will store IP addresses</strong> with timestamps  and the URL for the
                requested resource for all users for as long as 30 days, in order to ensure a secure service with high availability.
            </p>
            <p>
                We need this privilege, to store IP addresses, to be able to add them to our blacklist when actors misuse this service.
                IP addresses in our blacklist will be stored for up to 183 days.
            </p>
            <p>Log files are not shared, not even among our friends.</p>
            <h3>§2 Data hosting</h3>
            <p>
                Apart from logging IP addresses we will store (host) indices of textual data
                and collections of document text extracts that originates from Common Crawl
                and the public WWW. When fetching data from WWW we do our very best to interpret and honor your robots.txt.
            </p>
            <p>
                No indices are private indices and no document collections are private collections.
                Instead, all indices are public indices and all document collections are public collections.
            </p>
            <p>Consequently, all Crawl Crawler's data, except our log files, is public.</p>
            <h3>§3 Data removal</h3>
            <p>Please go ahead and <a href="/contact">contact us</a> in matters of data removal.</p>
        </div>
    </form>