@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Crawl Crawler Terms";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Terms</h2>
            <i>In this document are the terms we need to really agree upon, I mean seriously agree upon, before you use this, the crawlcrawler.com service.</i>
            <h3>§-1 Cookies</h3>
            <p>
                Crawlcrawler.com servers <strong>will not place a cookie</strong> on your computer, nor several. If you've cookies on your drive,
                rest assured they are not from us.
            </p>
            <h3>§0 Tracking</h3>
            <p>
                <strong>We will not track you</strong>. We don't use cookies. We don't even use javascript. We could still track you. But we don't.
            </p>
            <h3>§1 Logging</h3>
            <p>
                Crawlcrawler.com servers <strong>will store IP addresses</strong> with timestamps  and the URL for the 
                requested resource for all users for as long as 30 days, in order to ensure a secure service with high availability.
            </p>
            <p>By using the crawlcrawler.com service you give us permission to store your IP address together with a time stamp.</p>
            <p>We give you a cookie-free environment. You give us permission to store a record of your IP address. 
            Because we need to be able to add you to our blacklist, if you misuse this service.</p>
            <h3>§4 Data hosting</h3>
            <p>
                Apart from IP addresses <strong>we will store (host) crawled data</strong> that originates from Common Crawl 
                and the public WWW. When fetching data from WWW we do our very best to interpret and of course honor your robots.txt. 
            </p>
            <h3>§5 Data removal</h3>
            <p>Please go ahead and <a href="/contact">contact us</a> in matters of data removal.</p>
        </div>
    </form>