@using Sir.HttpServer;
@{
    Layout = "~/Views/_Layout.cshtml";
}
@{
    var query = Context.Request.Query.ToStringExcept("fileName");
    var searchLink = $"{Context.Request.Path.Value.ToLower().Replace("/warc", "/search")}?{query}";
    var fileName = "https://commoncrawl.s3.amazonaws.com/" + Context.Request.Query["fileName"].ToString();
    var q = (ViewBag.Q ?? Context.Request.Query["q"]).ToString();

    ViewBag.Title = $"Download WARC - {q} - Crawl Crawler";
}
<form action="/crawl/" method="get">
    <div class="blog-wrapper">
        <a href="@searchLink">&#8592; Back to result</a>
        <h1>Download WARC file</h1>
        <p>
            Click file name to download WARC file.
        </p>
        <h3>WARC file</h3>
        <p>
            <a class="warc-link" href="@Html.Raw(fileName)">@fileName</a>
        </p>
        <h3>What's a WARC file?</h3>
        <p>
            <a class="warc-link" href="https://commoncrawl.org/the-data/get-started/#WARC-Format">https://commoncrawl.org/the-data/get-started/#WARC-Format</a>
        </p>
    </div>
</form>