@using Sir.HttpServer;
@{
    Layout = "~/Views/_Layout.cshtml";
     ViewBag.Title = "Download WET";
}
@{ 
    var query = Context.Request.Query.ToStringExcept("fileName");
    var searchLink = $"{Context.Request.Path.Value.ToLower().Replace("/wet", "/search")}?{query}";
    var fileName = Context.Request.Query["fileName"].First().ToString();
}
    <form action="/crawl/" method="get">
        <div class="blog-wrapper">
            <a href="@searchLink">&#8592; Back to result</a>
            <h2>Download WET file</h2>
            <p>
                Click file name to download <a href="https://commoncrawl.org/the-data/get-started/#WET-Format">WET</a> file.
            </p>
            <h3>WET file</h3>
            <p>
                <a class="warc-link" href="@Html.Raw(fileName)">@fileName</a>
            </p>
        </div>
    </form>