body {
    padding: 0px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
    font-family: sans-serif;
    font-size: medium;
}

.sub {
    font-size: 0.2em;
    color: orangered;
    margin-left: 2px;
    margin-right: 2px;
}

sup, sub {
    font-size: xx-small;
    color: orangered;
}

a {
    text-decoration: none;
    color: gray;
}

a h1 {
    text-decoration: none;
    color: orangered;
}

a:visited h1 {
    color: orangered;
}

a:visited {
    color: orangered;
}

a.result-link {
    color: mediumblue;
}

a.result-link:visited {
    color: purple;
}

h1 {
    margin-top: 10px;
    margin-bottom: 12px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 16px;
}

p {
    margin-top: 20px;
    margin-bottom: 15px;
}

.q {
    width: 50%;
    margin-bottom: 4px;
}

div.upvote {
    font-size: 0.75em;
    margin-bottom: 3px;
    margin-right: 4px;
    float: left;
}

h1.logo {
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
}

#slogan {
    margin-top: 5px;
    margin-bottom: 20px;
}

.medium-text {
    font-size: 10pt;
}

footer {
    font-size: 10pt;
    margin-top: 25px;
}

footer span {
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: gray;
}

footer p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.document-body {
    margin-left: 18px;
    margin-bottom: 15px;
}

textarea.qf {
    width: 85%;
    height: 100px;
}

button.queryparser{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.queryparser {
    vertical-align: top;
}

.advanced {
    color: orangered;
    font-size: 0.7em;
    margin-top:10px;
}

input[type=text].newCollection{
    width: 182px;
}

div.newCollection{
    margin-top: 10px;
}

h3.querystats{
    color:gray;
}

span.querystats {
    color: black;
}