body {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
    font-family: sans-serif;
}

.sub {
    font-size: xx-small;
    color: orangered;
    margin-left: 2px;
    margin-right: 2px;
}

sup {
    font-size: xx-small;
    color: orangered;
}

a {
    text-decoration: none;
    color: orangered;
}

    a.result-link {
        color: mediumblue;
    }

        a.result-link:visited {
            color: purple;
        }

input[type=text] {
    width: 480px;
}

@@media only screen and (max-width: 700px) {
    input[type=text] {
        width: 70%;
    }
}

@@media only screen and (max-width: 500px) {
    input[type=text] {
        width: 60%;
    }
}

@@media only screen and (max-width: 400px) {
    input[type=text] {
        width: 50%;
    }
}

@@media only screen and (max-width: 310px) {
    input[type=text] {
        width: 40%;
    }
}

textarea {
    width: 250px;
    height: 150px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 12px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 25px;
}

div.upvote {
    font-size: 0.75em;
    color: orangered;
    margin-bottom: 3px;
    margin-right: 4px;
    float: left;
}

h1.logo {
    margin-top: 0px;
}

#slogan {
    margin-top: 0px;
    margin-bottom: 16px;
}

.medium-text {
    font-size: 10pt;
}

footer {
    font-size: 10pt;
}

    footer span {
        padding-top: 10px;
    }

    footer a {
        text-decoration: none;
        color: gray;
    }

    footer p {
        margin-top: 8px;
        margin-bottom: 0px;
    }

.document-body {
    margin-left: 18px;
    margin-bottom: 15px;
}
