@{
    var qf = ViewData["q"];
}
@using (Html.BeginRouteForm("default", new { controller = "QueryParser" }, FormMethod.Get))
{
    <textarea class="query" name="qf" id="qf">@qf</textarea><br />
    <button type="submit" class="queryparser" name="execute" id="execute" title="Execute query">Go</button>
    <button class="queryparser" value="create" name="create" id="create" title="Save result as new collection">Create collection <sup>COMING SOON</sup></button>
    <a href="/search@(Context.Request.QueryString)">go! <sup>easy</sup></a>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="10" name="take" id="take" />
    <input type="hidden" value="title" name="fields" />
    <input type="hidden" value="body" name="fields" />
    <input type="hidden" value="www" name="collection" />
}