@{ 
    var qf = ViewData["qf"];
}
@using (Html.BeginRouteForm("default", new { controller = "QueryParser" }, FormMethod.Get))
{
    <textarea class="query" name="qf" id="qf">@qf</textarea>
    <button class="queryparser" value="OR" name="OR" id="or" title="OR">go! <sup>COMING SOON</sup></button> 
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="10" name="take" id="take" />
    <input type="hidden" value="title" name="fields" />
    <input type="hidden" value="body" name="fields" />
    <input type="hidden" value="www" name="collection" />
}