@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <textarea class="query"></textarea>
    <button class="queryparser" type="submit" value="OR" name="OR" id="or" title="OR">go! <sup>BETA</sup></button> 
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="10" name="take" id="take" />
    <input type="hidden" value="title" name="fields" />
    <input type="hidden" value="body" name="fields" />
    <input type="hidden" value="www" name="collection" />
}