@{
    var qf = ViewData["qf"];
    var q = ViewData["q"];
    var newCollection = ViewData["newCollection"];
}
@using (Html.BeginRouteForm("default", new { controller = "QueryParser" }, FormMethod.Get))
{
    <textarea class="qf" name="qf" id="qf">@qf</textarea>
    <div class="buttons">
        <button type="submit" class="queryparser" name="execute" id="execute" title="1. Run query">1. Run query</button>
        <br />
        <a class="advanced" href="/search@(Context.Request.QueryString)">Natural language</a>
    </div>
    <div style="clear:both;" class="newCollection">
        <input type="text" name="newCollection" id="newCollection" class="newCollection" placeholder="Name (something easy to remember)" />
        <div class="buttons">
            <button class="queryparser" value="create" name="create" id="create" title="2. Create model">2. Create model</button>
        </div>
        <div style="clear:both;"></div>
    </div>
    @if (newCollection != null)
    {
    <div class="newCollection">Your collection has been created. Web GUI is <a href="/?q=@q&collection=@newCollection">here</a>. HTTP API is here: didyougogo.com/io/@newCollection. HTTP API documentation is <a href="https://github.com/kreeben/resin#create-your-own-collectionendpoint">here</a>.</div>
    }
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="@q" name="q" id="q" />
    <input type="hidden" value="100" name="take" id="take" />
    <input type="hidden" value="title" name="fields" />
    <input type="hidden" value="body" name="fields" />
    <input type="hidden" value="@ViewBag.Collection" name="collection" />
}