@{
    var qf = ViewData["qf"];
}
@using (Html.BeginRouteForm("default", new { controller = "QueryParser" }, FormMethod.Get))
{
    <textarea class="query" name="qf" id="qf">@qf</textarea>
    <button class="queryparser" name="execute" id="execute" title="execute query">Go <sup>COMING SOON</sup></button>
    <button class="queryparser" value="create" name="create" id="create" title="Save result as new collection">Create collection <sup>COMING SOON</sup></button>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="10" name="take" id="take" />
    <input type="hidden" value="title" name="fields" />
    <input type="hidden" value="body" name="fields" />
    <input type="hidden" value="www" name="collection" />
}