@{
    string query = Context.Request.Query.ContainsKey("q") ? Context.Request.Query["q"].ToString() : null;
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <div class="input-wrapper">
        <div class="q">
            <input type="text" id="q" name="q" class="q" placeholder="Keywords or phrase" value="@query" />
        </div>
        <div class="buttons">
            <button type="submit" value="OR" name="OR" id="or" title="OR">Go</button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="100" name="take" id="take" />
    <input type="hidden" value="@Context.Request.Query["queryId"].ToString()" name="queryId" id="queryId" />
}