@{
    var col = Context.Request.Query["collection"].ToString();
    var collection = string.IsNullOrWhiteSpace(col) ? "www" : col;
    var query = Context.Request.Query["q"].ToString();
}
@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <input type="text" id="q" name="q" class="q" placeholder="Ask me anything." value="@query" />
    <div class="buttons">
        <button type="submit" value="OR" name="OR" id="or" title="OR">Go <sup>OR</sup></button><button type="submit" value="AND" name="AND" id="and" title="AND">Go <sup>AND</sup></button>
        @if (!string.IsNullOrWhiteSpace(query))
        {
            <br /><a class="advanced" href="/queryparser@(Context.Request.QueryString.ToString())">Structured query</a>
        }
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="10" name="take" id="take" />
    <input type="hidden" value="title" name="fields" />
    <input type="hidden" value="body" name="fields" />
    <input type="hidden" value="@collection" name="collection" />
}