@{
    var col = Context.Request.Query["collection"].ToString();
    var query = Context.Request.Query["q"].ToString();
    var knownFields = Context.Request.Query["field"].ToArray();
    var titleSelected = knownFields.Contains("title");
    var bodySelected = knownFields.Contains("body");
}
@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <p>
        <input type="text" id="collection" name="collection" class="collection" value="@ViewBag.Collection" />
    </p>
    <fieldset class="search-fields">
        <legend>Search fields</legend>
        <input type="checkbox" name="field" value="title" id="title" @(titleSelected ? "checked" : "") /><label for="title">title</label>
        <input type="checkbox" name="field" value="body" id="body" @(bodySelected ? "checked" : "") /><label for="body">body</label>
    </fieldset>
    <input type="text" id="q" name="q" class="q" placeholder="Ask me anything." value="@query" />
    <div class="buttons">
        <button type="submit" value="OR" name="OR" id="or" title="OR">Go <sup>OR</sup></button><button type="submit" value="AND" name="AND" id="and" title="AND">Go <sup>AND</sup></button>
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="100" name="take" id="take" />
}