@{
    var query = Context.Request.Query["q"].ToString();
    var submittedFields = new HashSet<string>(Context.Request.Query.ContainsKey("field")
        ? Context.Request.Query["field"].ToArray()
                    .SelectMany(x => x.Split(',', StringSplitOptions.RemoveEmptyEntries))
                    .ToArray()
        : new string[0]);
    var fields = new HashSet<string>(submittedFields.Concat((string[])ViewBag.DefaultFields));
    var submittedCollections = Context.Request.Query["collection"]
        .ToArray()
        .SelectMany(s => s.Split(',', StringSplitOptions.RemoveEmptyEntries))
        .ToArray();

    var collections = new HashSet<string>(submittedCollections.Concat((IEnumerable<string>)ViewBag.DefaultCollection));
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <div class="input-wrapper">
        <div class="q">
            <input type="text" id="q" name="q" class="q" placeholder="Keywords or phrase" value="@query" />
        </div>
        <div class="buttons">
            <button type="submit" value="OR" name="OR" id="or" title="OR">Go</button>
        </div>
    </div>
    <div style="clear:both;"></div>
    <input type="hidden" value="0" name="skip" id="skip" />
    <input type="hidden" value="100" name="take" id="take" />
    <input type="hidden" value="title" name="select" id="select" />
    <input type="hidden" value="url" name="select" id="select" />
}