@{
    string query = Context.Request.Query.ContainsKey("q") ? Context.Request.Query["q"].ToString() : null;
    var expiresInDays = (int)ViewData["index_expires_in_days"];
    var expired = false;

    if (expiresInDays < 0)
    {
        expired = true;
        expiresInDays = Math.Abs(expiresInDays);
    }
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <div class="input-wrapper">
        <div class="q">
            <input type="text" id="q" name="q" class="q" placeholder="Search (keywords or phrase)" value="@query" tabindex="0" />
            <button type="submit" value="OR" name="OR" id="or" title="OR">Go</button>
        </div>
        <br style="clear:both;" />
        @if (query == null)
        {
    <div style="background-color:#151515;padding: 5px 5px 5px 5px;margin-top:10px;">
        <p>Bookmark this page. </p>
        <p>Manage URLs and update frequency by clicking <a style="color:white;" href="/options?queryId=@Context.Request.Query["queryId"]" title="Options">&#9776;</a>.</p>
        <h3>Status</h3>
        @if (expired)
        {
            <p>This index expired in @expiresInDays days ago and will soon be removed from our system.</p>
        }
        else
        {
            <p>This index expires in @expiresInDays days.</p>
        }
    </div>
        }
        <input type="hidden" value="0" name="skip" id="skip" />
        <input type="hidden" value="100" name="take" id="take" />
        <input type="hidden" value="@Context.Request.Query["queryId"]" name="queryId" id="queryId" />
    </div>
}