@{
    ViewData["Title"] = "There was an error and we couldn't add your page to the Go.go! index.";
    Layout = "~/Views/_Layout.cshtml";
}

@{await Html.RenderPartialAsync("SearchForm");}

<div>
    <h2>An error occurred.</h2>
    <p>
        There was an error and we couldn't add your page to the 'gogo' index.
    </p>
    <p><a href="/add">Submit another page</a></p>
</div>