@{
    ViewData["Title"] = "Add your page to the dYGG index.";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginRouteForm("default", new { controller = "Submit", action = "Page" }, FormMethod.Get))
{
    <div>
        <input type="text" name="url" class="submit" placeholder="https://yoursite.com/page.html" />
        <div class="buttons"><input type="submit" value="Submit URL" /></div><br style="clear:both;" />
    </div>
}
