@{
    ViewData["Title"] = "There was an error and we couldn't add your page to the 'gogo' index.";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
{
    <div>
        <input type="text" id="q" name="q" placeholder="Ask anything." />
        <input type="submit" value="Go" />
    </div>
}

<div>
    <h2>An error occurred.</h2>
    <p>
        There was an error and we couldn't add your page to the 'gogo' index.
    </p>
    <p><a href="/add">Submit another page</a></p>
</div>