@{
    ViewData["Title"] = "Add your page to the 'gogo' index.";
    Layout = "~/Views/_Layout.cshtml";
}

<div>

    @using (Html.BeginRouteForm("default", new { controller = "Search" }, FormMethod.Get))
    {
        <div>
            <input type="text" id="q" name="q" placeholder="Ask anything." />
            <input type="submit" value="Go" />
        </div>
    }

    @using (Html.BeginRouteForm("default", new { controller = "Add", action = "Page" }, FormMethod.Get))
    {
        <div>
            <p>
                <label>Enter URL:</label>
                <div>
                    <input type="text" id="url" name="url" placeholder="https://yoursite.com/page.html" />
                    <input type="submit" value="Go" />
                </div>
            </p>
        </div>
    }

</div>
<div>
    <img src="~/img/always-do-both.png" alt="Always do both" style="margin-left:5px;" />
</div>

<br style="clear:both;" />
