@{
    ViewData["Title"] = "Thank you for adding your page to the 'gogo' index.";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <h2>Thank you for contributing to the "go go" index.</h2>
    <p>To run this service we need computing and storage. 
    Sponsors, please contact marcuslager at the biggest email provider in the world dot com.</p>
    <p><a href="/">Search the web</a>.</p>
</div>