@{
    ViewData["Title"] = "Thank you for adding your page to the Go.go! index.";
    Layout = "~/Views/_Layout.cshtml";
}

@{await Html.RenderPartialAsync("SearchForm");}

<div>
    <h2>Thank you for contributing to the "go go" index.</h2>
    <p>
        Your page will soon be processed.
    </p>
    <p><a href="/add">Submit another page</a></p>
</div>