@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Options - CrawlCrawler";
}
<h1>Options</h1>
<p class="options-menu">
    <a href="/options/urls?queryId=@Context.Request.Query["queryId"]">URLs</a><br />
    <a href="/options/update?queryId=@Context.Request.Query["queryId"]">Update frequency</a>
</p>
<p>
    <a href="/search?queryId=@Context.Request.Query["queryId"]&field=title&field=text">&#8617; Back to search</a>
</p>