@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Options - CrawlCrawler";
}
<span>
    <a href="/search?queryId=@Context.Request.Query["queryId"]">&#8617; Back to search</a>
</span>
<h1>Options</h1>
<p class="options-menu">
    <span>&#10132;</span> <a href="/options/urls?queryId=@Context.Request.Query["queryId"]">Add/remove URLs</a><br />
    <span>&#10132;</span> <a href="/options/update?queryId=@Context.Request.Query["queryId"]">Manage update frequency</a>
</p>