@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Options - Update frequency - CrawlCrawler";
}
<a href="/options?queryId=@Context.Request.Query["queryId"]"><h1>Options</h1></a>
<h2>Update frequency</h2>
<p>
    Coming soon.
</p>