@{
    Layout = "~/Views/_Layout.cshtml";
}
@{ 
    var query = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());

    query["collection"] = Context.Request.Form["target"].ToString();

    var queryString = string.Join('&', query.Select(x => $"{x.Key}={x.Value}"));
    var searchLink = $"{Context.Request.Path.Value.ToLower().Replace("/crawl", "/search")}?{queryString}";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Job has been enqueued.</h2>
            <p>
                <a href="@searchLink">your result</a>
            </p>
            <h3>Read/write instructions</h3>
            <p><h4>Read with browser</h4> HTTP GET text/html<br /> <span>crawlcrawler.com/?collection=[Your_Collection]</span></p>
            <p><h4>Read with any HTTP client</h4> HTTP GET application/json <br /><span>crawlcrawler.com/query?collection=[Your_Collection]&q=[Your_Query]&field=title&field=description</span></p>
            <p><h4>Write with any HTTP client</h4> HTTP POST application/json (list of JSON documents)<br /><span>crawlcrawler.com/write?collection=[Your_Collection]</span></p>
            <h4>Advanced querying</h4>
            HTTP POST application/json<br />
            <span>crawlcrawler.com/query?collection=[Your_Collection]</span>
            <div class="pre">
                <pre>
{
	"and":
	{
		"collection": "film,music",
		"title": "rocky eye of the tiger",
		"or":
		{
			"title": "rambo",
			"or": 
			{
				"title": "cobra"
				"or":
				{
					"cast": "antonio banderas"
				}			
			}	
		},
		"and":
		{
			"year": 1980,
			"operator": "gt"
		},
		"not":
		{
			"title": "first blood"
		}
	}
}
                </pre>
            </div>
        </div>
    </form>