@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="/crawl/" method="post">
        <div class="blog-wrapper">
            <h2>Thank you for crawling the crawl.</h2>
            <p><a href="https://www.paypal.me/marcuslager">Donate</a></p>
            <p>Your truly,<br />Marcus Lager<br />Chief Crawl Crawler</p>
        </div>
    </form>