@{
    Layout = "~/Views/_Layout.cshtml";
}
@{await Html.RenderPartialAsync("SearchForm");}
<div>
    <p><a href="https://@ViewData["url"]">Thank you for recommending @ViewData["url"]. Go!</a></p>
</div>